body {
    background-color: rgb(37, 35, 35);
    margin: 0;
    padding: 0;
    color: white;
    font-family: arial;
    font-weight: bold;
}
.titulo .titulo__texto{
    text-align: center;
    padding: 25px;
}
.titulo .titulo__subtext{
    text-align: center;
    padding: 0px;
}
.subtitulo{
    text-align: center;
    padding: 25px;
}
.subtitulo .subtitulo__textocsharp{
    color: blueviolet;
}
.subtitulo .subtitulo__textohtml{
    color: orangered;
}
.subtitulo .subtitulo__textojava{
    color: yellow;
}
.trabajos{
    text-align: center;
    padding: 25px;
}
.proyectos{
    text-align: center;
    padding: 25px;
}
.contactos{
    text-align: center;
    padding: 25px;
}
.formulario{
    text-align: center;
    padding: 25px;
}
.pies{
    text-align: center;
    padding: 25px;
}
.proyectostitulo{
    text-align: center;
    padding: 25px;
}
.contenido{
    text-align: center;
    padding: 25px;
}
.piesproyec{
    text-align: center;
    padding: 25px;
}