body {
    background-color: rgb(37, 35, 35);
    margin: 0;
    padding: 0;
    color: white;
    font-family: arial;
    font-weight: bold;
}
.titulo__texto{
    text-align: center;
}
.titulo__subtext-saludo{
    text-align: center;
}
.titulo__subtext-estudio{
    text-align: center;
}
.subtitulo{
    text-align: center;
}
.subtitulo__textocsharp{
    color: blueviolet;
}
.subtitulo__logocsharp{
    border-radius: 50%;
    border: 5px blueviolet solid;
    width: 60px;
    height: 60px;
}
.subtitulo__textohtml{
    color: orangered;
}
.subtitulo__logohtml{
    border-radius: 50%;
    border: 5px orangered solid;
    width: 60px;
    height: 60px;
}
.subtitulo__textojava{
    color: yellow;
}
.subtitulo__logojava{
    border-radius: 50%;
    border: 5px yellow solid;
    width: 60px;
    height: 60px;
}
.trabajos{
    text-align: center;
}
.proyectos{
    text-align: center;
}
.contactos{
    text-align: center;
}
.formulario{
    text-align: center;
}
.pies{
    text-align: center;
}
.proyectostitulo{
    text-align: center;
}
.contenido{
    text-align: center;
}
.piesproyec{
    text-align: center;
}
.contactos__logotwitter{
    border-radius: 50%;
    border: 5px white solid;
    width: 60px;
    height: 60px;
}
.contactos__botontwitter{
    color: whitesmoke;
}
.contactos__logodiscord{
    border-radius: 50%;
    border: 5px white solid;
    width: 60px;
    height: 60px;
}
.contactos__botondiscord{
    color: whitesmoke;
}
.contenido__imagen-compra{
    width: 250px;
    height: 450px;
    border: 5px black solid;
    border-radius: 10%;
}
.contenido__imagen-venta{
    width: 250px;
    height: 450px;
    border: 5px black solid;
    border-radius: 10%;
}
.contenido__imagen-calcompra{
    width: 250px;
    height: 350px;
    border: 5px black solid;
    border-radius: 10%;
}
.contenido__imagen-calcventa{
    width: 250px;
    height: 350px;
    border: 5px black solid;
    border-radius: 10%;
}
.contenido__diploma-pelicula1{
    width: 750px;
    height: 650px;
    border: 5px black solid;
    border-radius: 25%;
}
.contenido__diploma-pelicula2{
    width: 750px;
    height: 650px;
    border: 5px black solid;
    border-radius: 25%;
}
.contenido__diploma-excelencia1{
    width: 750px;
    height: 650px;
    border: 5px black solid;
    border-radius: 25%;
}
.contenido__diploma-honorprimero1{
    width: 750px;
    height: 650px;
    border: 5px black solid;
    border-radius: 25%;
}
.contenido__diploma-honorsegundo2{
    width: 750px;
    height: 650px;
    border: 5px black solid;
    border-radius: 25%;
}